language: ruby
cache: bundler
rvm:
- 1.9.3
- 2.0.0
- 2.1.10
- 2.2.6
- 2.3.3
- 2.4.0
before_install: gem install bundler --no-rdoc --no-ri
deploy:
  provider: rubygems
  api_key:
    secure: Z4cqo3EfGV/ygrodnVKi5eFj+0gwgAOqXeKPzxn9O7QFqJtDkX+AI4jlDrtzinVmmYgNi12sUH80WzPVLSFwkfu8WXKDbuK4d8/5sg/YGwB/reKYwkNcWtty+KGESlkXhgFU/izxZhtpFUoYSFrr0JEnCroSzlj7dbXIfirLrM1DQHQN4tpgrJ5sRhjZC0/8sBLV98dikxnatYDoCfkTaA3ZqeVwlELyhdIk/SkwzMy383LLEFD8g2SGNa5xQucTuZ63pTQyq9AfI09AwT4Mp83kc0wuON4Q4pmlLSaZYUzFmBf+auWKMDoIYc2tWF5eogrZn1nmaZakFYjS/vF8GLth4pTL4uSUQ2Z41EsjzuDbVkqodDJFxYBqEn0Tf961FB6YQrOC5HDyBoT8k/ar7Y6J2LtEQoI4twG6BJLv73htLUptlFeHzabE5h3Y65UNjkR0fEk8GVm10P3mymH/uvMZ8KaGniV98Cb0bRwESNhDTNTIzW5uGlK61ItHlcKwMDij9iq2GW0xMovDwFoDzOC3yOqtshkQcjQ6VpLN5L1Gpvc0phBIrBfXk2BTdEsUROLVTv5SlDPdWL0a4JXyD9yayZ3AJnoK6m5AxMWLQVlz5IYf3qTxtjH/wtt4fTsATer6TcGdk8cbB4qjO3SjYygCQiUT9plQImxvMAJMgmQ=
  gem: wavefront-client
  on:
    tags: true
    all_branches: true
    repo: wavefrontHQ/ruby-client
    ruby: 1.9.3
